.item-card {

    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    cursor: pointer;
    transition: all .28s ease-in-out;
    min-width: 200px; 
    max-height: 600px;
    width: fit-content;
    
}


.item-card:hover {

    transform: scale(1.04);
}

.item {

    flex: 0 1 25%;
    width: 250px;
    gap: 0;
    
}

.item img {

    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item p {

    width: 100%;
    margin-bottom: 10px;
}

.item .item-prices {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.item .item-price-new {

    font-weight: bold;
}

.item .item-price-old {

    text-decoration: line-through;
    color: gray;
}

@media screen and (max-width: 425px) {
    .item-card {

        text-align: center;
        align-items: center;
        max-width: 500px;
    }

    .item .item-prices {

        justify-content: center;
    }
}

@media screen and (min-width: 1500px) {

    .item {

        height: 100%;
        gap: 30px;
        width: 300px;
        /* justify-content: space-between; */

    }

    .item img, .item p {

        margin-bottom: 20px;
    }


    .item img {

        height: 400px;

    }
}