.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    box-shadow: 0 1px 3px -2px #333;
    position: relative;
    height: 80px;
    /* background-color: aqua; */
}

.nav-logo {

    width: 75px;
    height: 75px;
}

.nav-logo img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .bx {

    padding: 5px;
    transition: all .28s ease-in-out;
    font-size: 2.3rem;
    display: none;
}

.nav-list {

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-list .nav-item {

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 550;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
}

.nav-item::after {

    content: '';
    position: absolute;
    background-color: #ff4141;
    height: 3px;
    bottom: -8px;
    left: 0;
    width: 0%;
    transition: all .28s ease-in-out;
}

.nav-item.active:after {
    width: 80%;
}

.nav-login-cart {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-login-cart a button {

    padding: 6px 10px;
    border: 2px solid gray;
    outline: none;
    background-color: transparent;
    border-radius: 30px;
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    /* font-weight: 550; */
}

.nav-login-cart button:active {

    background-color: #f3f3f3;
}

.nav-login-cart .cart-icon {

    width: fit-content;
    position: relative;
    height: 30px;
}

.cart-icon a img {

    height: 100%;
    object-fit: cover;
}

.cart-icon a span {

    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    background-color: #ff4141;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    color: aliceblue;
    font-weight: 550;
}

@media screen and (min-width: 1500px) {
    .navbar {

        padding: 0;
        height: 100px;
    }

    .nav-list {

        gap: 100px;
    }

    .nav-list .nav-item a {

        font-size: 1.1rem;
        letter-spacing: 3px;
    }

}

@media screen and (max-width: 768px) {

    .navbar {

        padding: 0 40px;
    }

    .navbar .nav-logo {

        display: none;
    }

    .navbar .bx {

        display: block;
    }

    .navbar .nav-list {

        display: none;
    }

    .navbar .open-nav-list {

        display: flex;
        position: absolute;
        top: 100%;
        width: 45%;
        left: 0;
        opacity: 999;
        height: calc(100vh - 100px);
        /* height: max-content; */
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        z-index: 999;
        justify-content: start;
        padding: 40px;
        /* animation-duration: .3s; */
        animation: slideIn linear .3s forwards;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            width: 0%;
        }
        to {
            opacity: 1;
            width: 45%;
        }
    }

    .nav-list .nav-item {

        opacity: 0;
    }

    .nav-list .nav-item a {

        color: #f7f7f7;
    }

    .open-nav-list .nav-item {

        width: fit-content;
        animation: fadeIn ease-in-out .4s forwards;
    }

    .open-nav-list .nav-item:nth-child(1) {

        animation-delay: 200ms;
    }
    .open-nav-list .nav-item:nth-child(2) {

        animation-delay: 300ms;
    }
    .open-nav-list .nav-item:nth-child(3) {

        animation-delay: 400ms;
    }
    .open-nav-list .nav-item:nth-child(4) {

        animation-delay: 500ms;
    }

    @keyframes fadeIn {
        0% {

            opacity: 0;
            transform: translateX(-100%);
        }
        
        100% {

            opacity: 1;
            transform: translateX(0%);
        }
    }

}

@media screen and (max-width: 425px) {

    .navbar {

        padding: 0 30px 0 20px;
    }


    @keyframes slideIn {
        from {
            opacity: 0;
            width: 0%;
        }
        to {
            opacity: 1;
            width: 60%;
        }
    }
}

