.new-collections {

    width: 100%;
    margin-bottom: 3em;

}

.new-collections h2 {

    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: 550;
    width: fit-content;
    margin: 1em auto 2em;
}

.new-collections h2::after {

    position: absolute;
    content: '';
    bottom: -15px;
    left: 3px;
    width: 50%;
    height: 5px;
    background-color: #ff4141;
}

.new-collections-products {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    gap: 25px;
    row-gap: 40px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 1500px) {
    .new-collections-products {

        width: 100%;
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .new-collections-products {

        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .new-collections h2 {

        font-size: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .new-collections h2 {

        font-size: 1.7rem;
    }
}